<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }} | Pipeline Network</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">

    {% block css %}
    {% endblock %}

    <link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body> 
    <div id="wrapper">

        <!-- NAVIGATION -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> 
                        <span>
                            <img alt="image" class="img-circle img-fluid" src="{{ url_for('static', filename='img/profile_small.jpg') }}" />
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"><span class="block m-t-xs"> <strong class="font-bold">
                            {{ user.name }} </strong></span> 
                            <span class="text-muted text-xs block">{{ user.position }}<b class="caret"></b></span> </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="profile.html">Settings</a></li>
                            <li><a href="login.html">Logout</a></li>
                        </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-home"></i><span class="nav-label">Home</span>                        
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-th"></i><span class="nav-label">Dashboards</span><span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li><a href="{{ url_for('dashboards', type='agriculture')}}">Agriculture</a></li>
                            <li><a href="{{ url_for('dashboards', type='manufacturing')}}">Manufacturing</a></li>
                            <li><a href="{{ url_for('dashboards', type='utilities')}}">Utilities</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Charts</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-table"></i> <span class="nav-label">Tables</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('devices')}}">
                            <i class="fa fa-tablet"></i> <span class="nav-label">Devices</span>
                        </a>
                    </li>         
                </ul>
            </div>
        </nav>
        <!-- END NAVIGATION -->

        <div id="page-wrapper" class="gray-bg dashbard-1">
            
            <div class="row border-bottom">
                <!-- TOP NAVIGATION -->
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#">
                            <i class="fa fa-bars"></i>
                        </a>
                        <form role="search" class="navbar-form-custom" action="search_results.html">
                            <div class="form-group">
                                <input type="text" placeholder="Command...." class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell"></i><!--<span class="label label-primary">8</span>-->
                            </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <!--
                            <li>
                                <a href="grid_options.html">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                                </a>
                            </li>
                            -->
                        </ul>
                        </li>
                        <li>
                            <a href="login.html">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- END TOP NAVIGATION -->
            </div>
              
        {% block content %}
        {% endblock %}

            <!-- FOOTER -->
            <div class="footer">
                <div class="pull-right">
                    Internet of Things
                </div>
                <div>
                    <strong>Pipeline Network Sdn. Bhd.</strong> &copy; 2015-2016
                </div>
            </div>
            <!-- END FOOTER -->

        </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{ url_for('static', filename='js/inspinia.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/pace/pace.min.js') }}"></script>

    {% block javascript %}
    {% endblock %}

</body>
</html>
