{% extends "base.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/plugins/toastr/toastr.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='js/plugins/gritter/jquery.gritter.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}

{% if type == 'agriculture' %}
Hello World!
{% endif %}

{% if type == 'manufacturing' %}
Coming Soon!
{% endif %}

{% if type == 'utilities' %}
<div class="row wrapper border border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h1> <strong> Utilities </strong> </h1>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Installed on</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">2</h1>
                        <small>Location</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Currently Active </h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">3</h1>
                    <small>Sensors</small>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Sensor Malfunction</h5>
                        <div class="ibox-tools">
                            <span class="label label-primary">Updated Daily</span>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h4>You have 0 sensor malfunctioned</h4> 
                    </div>

                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3> Location </h3>
                </div>
                <div class="ibox-content">
                    <div id="map" style="width:550px;height:330px;background:gray"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget navy-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-flash fa-3x"></i>
                    <h1 class="m-xs">1000</h1>
                    <h3 class="font-bold no-margins">
                    Power 
                    </h3>
                    <small>Total Consumption for this month</small>
                </div>
            </div>
            <div class="widget yellow-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-money fa-3x"></i>
                        <h1 class="m-xs">234.50</h1>
                        <h3 class="font-bold no-margins">
                            MYR
                        </h3>
                        <small>Estimation value</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="pull-right text-right">
                        <small>Raw Data <strong>mV per t(ms)</strong></small>
                        </span>
                    <h3> Live Data </h3>
                </div>
                <div class="ibox-content">
                    <div>
                        <div id="live-chart" style="width:450px; height:250px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="pull-right text-right">
                    <small> Showing the first <strong>5</strong> new data</small>
                    </span>
                    <h3> Latest data </h3>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 m-b-xs">
                            <div data-toggle="buttons" class="btn-group">
                                <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> Location 1 </label>
                                <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Location 2 </label>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Voltage(mV)</th>
                                    <th>Current(mA)</th>
                                    <th>Power(W)</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td>NA</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3> Current(mA) vs Time(s) </h3>
                </div>
                <div class="ibox-content">
                    <div>
                        <div id="line-chart1" ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3> Power(W) vs Time(s) </h3>
                </div>
                <div class="ibox-content">
                    <div>
                        <div id="line-chart2" ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3> Cumulative Power Consumption per hour (kWh) </h3>
                </div>
                <div class="ibox-content">
                    <div>
                        <div id="line-chart3" ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


{% endblock %}

{% block javascript %}

    <!--Map-->
    <script type="text/javascript">
function myMap() {
    var marker1 = {lat:3.139003, lng: 101.6868};
    var marker2 = {lat:3.032715, lng: 101.6188};
    var mapOptions = {
        center: new google.maps.LatLng(3.139003, 101.6868),
        zoom: 10,
        mapTypeId: google.maps.MapTypeId.HYBRID
    }
    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    var mark1 = new google.maps.Marker({position: marker1, map: map});
    var mark2 = new google.maps.Marker({position: marker2, map: map});
}
</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Jt-ZvCLK3jD-UBdF6G9QS839XO7cE14&callback=myMap"></script>


    <script src="{{ url_for('static', filename='js/plugins/morris/raphael-2.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/morris/morris.js') }}"></script>

    <script type="text/javascript">
$(function() {
  "use.strict";
    //var lineChartCanvas =  $("#lineChart").get(0).getContext("2d");
    //var lineChart = new Chart(lineChartCanvas);
    //var line = new Morris.Line({
    //var lineChartData = {
    Morris.Line({
      element: 'line-chart1',
      data: [
                { time: '01', value: 501.3 },
                { time: '02', value: 102.66 },
                { time: '03', value: 88.031 },
                { time: '04', value: 22.804},
                { time: '05', value: 833.305 },
                { time: '06', value: 101.1206},
                { time: '07', value: 50.207}
            ],
      xkey: 'time',
      ykeys: ['value'],
      resize: true,
      lineWidth: 4,      
      labels: ['mA'],
      lineColors: ['#fee000'],     
      hideHover: 'auto',
      gridTextColor: '#1ab394',
      //gridStrokeWidth: 0.4,
      pointSize: 5,
      //pointStrokeColors: ["#1ab394"],
      //gridLineColor: "#1ab394",
      //gridTextFamily: "Open Sans",
      //gridTextSize: 10,

    });

    Morris.Line({
      element: 'line-chart2',
      data: [
                { time: '01', value: 0.5013 },
                { time: '02', value: 0.10266 },
                { time: '03', value: 0.088031 },
                { time: '04', value: 0.022804 },
                { time: '05', value: 0.833305 },
                { time: '06', value: 0.1011206 },
                { time: '07', value: 0.050207 }
            ],
      xkey: 'time',
      ykeys: ['value'],
      resize: true,
      lineWidth: 4,      
      labels: ['mA'],
      lineColors: ['#fe0000'],     
      hideHover: 'auto',
      gridTextColor: '#1ab394',
      //gridStrokeWidth: 0.4,
      pointSize: 5,
      //pointStrokeColors: ["#1ab394"],
      //gridLineColor: "#1ab394",
      //gridTextFamily: "Open Sans",
      //gridTextSize: 10,

    });

    Morris.Line({
      element: 'line-chart3',
      data: [
                { time: '01', value: 0.5013 },
                { time: '02', value: 0.10266 },
                { time: '03', value: 0.088031 },
                { time: '04', value: 0.022804 },
                { time: '05', value: 0.833305 },
                { time: '06', value: 0.1011206 },
                { time: '07', value: 0.050207 }
            ],
      xkey: ['time'],
      ykeys: ['value'],
      resize: true,
      lineWidth: 4,      
      labels: ['Power (kWh)'],
      lineColors: ['#1ab394'],     
      hideHover: 'auto',
      gridTextColor: '#1ab394',
      //gridStrokeWidth: 0.4,
      pointSize: 5,
      //pointStrokeColors: ["#1ab394"],
      //gridLineColor: "#1ab394",
      //gridTextFamily: "Open Sans",
      //gridTextSize: 10,

    });
});
</script>

    <!-- Flot -->
    <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.spline.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.pie.js') }}"></script>

    <script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>

    <script type="text/javascript">
$(function() {

    var container = $("#live-chart");

    // Determine how many data points to keep based on the placeholder's initial size;
    // this gives us a nice high-res plot while avoiding more than one point per pixel.

    var maximum = container.outerWidth() / 2 || 300;

    //

    var data = [];

    function getRandomData() {

        if (data.length) {
            data = data.slice(1);
        }

        while (data.length < maximum) {
            var previous = data.length ? data[data.length - 1] : 50;
            var y = previous + Math.random() * 10 - 5;
            data.push(y < 0 ? 0 : y > 100 ? 100 : y);
        }

        // zip the generated y values with the x values

        var res = [];
        for (var i = 0; i < data.length; ++i) {
            res.push([i, data[i]])
        }

        return res;
    }

    series = [{
        data: getRandomData(),
        lines: {
            fill: true
        }
    }];


    var plot = $.plot(container, series, {
        grid: {

            color: "#999999",
            tickColor: "#D4D4D4",
            borderWidth:0,
            minBorderMargin: 20,
            labelMargin: 10,
            backgroundColor: {
                colors: ["#ffffff", "#ffffff"]
            },
            margin: {
                top: 8,
                bottom: 20,
                left: 20
            },
            markings: function(axes) {
                var markings = [];
                var xaxis = axes.xaxis;
                for (var x = Math.floor(xaxis.min); x < xaxis.max; x += xaxis.tickSize * 2) {
                    markings.push({
                        xaxis: {
                            from: x,
                            to: x + xaxis.tickSize
                        },
                        color: "#fff"
                    });
                }
                return markings;
            }
        },
        colors: ["#1ab394"],
        xaxis: {
            tickFormatter: function() {
                return "";
            }
        },
        yaxis: {
            min: 0,
            max: 110
        },
        legend: {
            show: true
        }
    });

    // Update the random dataset at 25FPS for a smoothly-animating chart

    setInterval(function updateRandom() {
        series[0].data = getRandomData();
        plot.setData(series);
        plot.draw();
    }, 40);

});

    /*var container = $("#live-chart");

    var chart; // global

        function requestData() {
            $.ajax({
                url: 'http://188.166.246.114/random', 
                success: function(point) {
                    var series = chart.series[0],
                        shift = series.data.length > 20; // shift if the series is longer than 20
        
                    // add the point
                    chart.series[0].addPoint(eval(point), true, shift);
                    
                    // call it again after one second
                    setTimeout(requestData, 1000);  
                },
                cache: false
            });
        }

        $(document).ready(function() {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    defaultSeriesType: 'spline',
                    events: {
                        load: requestData
                    }
                },
                title: {
                    text: 'Live random data'
                },
                xAxis: {
                    type: ['Timestamp'],
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: ['RandomNumber'],
                        margin: 80
                    }
                },
                series: [{
                    name: 'Random data',
                    data: []
                }]
            });     
        });*/


    </script>

    <!-- Peity -->
    <!--script src="{{ url_for('static', filename='js/plugins/peity/jquery.peity.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo/peity-demo.js') }}"></script-->

    <!-- jQuery UI -->
    <!--script src="{{ url_for('static', filename='js/plugins/jquery-ui/jquery-ui.min.js') }}"></script-->

    <!-- GITTER -->
    <!--script src="{{ url_for('static', filename='js/plugins/gritter/jquery.gritter.min.js') }}"></script-->

    <!-- Sparkline -->
    <!--script src="{{ url_for('static', filename='js/plugins/sparkline/jquery.sparkline.min.js') }}"></script-->

    <!-- Sparkline demo data  -->
    <!--script src="{{ url_for('static', filename='js/demo/sparkline-demo.js') }}"></script-->

    
    <!-- ChartJS-->
    <!--script src="{{ url_for('static', filename='js/plugins/chartJs/Chart.min.js') }}"></script-->
    

    <!-- Toastr -->
    <!--script src="{{ url_for('static', filename='js/plugins/toastr/toastr.min.js') }}"></script-->




{% endblock %}
