                <div class="footer">
                    <div class="pull-right">
                        10GB of <strong>250GB</strong> Free.
                    </div>
                    <div>
                        <strong>Pipeline Network Sdn. Bhd.</strong> &copy; 2015-2016
                    </div>
                </div>